<h1>Ask Ben About Any Pokemon</h1>
<div>
  <button (click)="updateSelectedPokemonToRandom()">
    Get Random Pokemon
  </button>
</div>
<div>
  <button (click)="updateSelectedPokemon(selectedPokemon.id + 1)">
    Get Next Number
  </button>
</div>
<div>
  <button (click)="updateSelectedPokemon(selectedPokemon.id - 1)">
    Get Previous Number
  </button>
</div>
<div>
  Search by name or number
  <input
    #searchTerm
    type="text"
    (keydown.enter)="updateSelectedPokemon(searchTerm.value)"
    (keyup.enter)="searchTerm.value = ''"
  />
</div>
<div *ngIf="selectedPokemon">
  <img [src]="selectedPokemon.sprites.front_default" />
  <img [src]="selectedPokemon.sprites.front_shiny" />
  <ul>
    <li>name: {{ selectedPokemon.name }}</li>
    <li>number: {{ selectedPokemon.id }}</li>
    <li>weight: {{ selectedPokemon.weight * 0.220462 | number }} pounds</li>
    <li>height: {{ selectedPokemon.height * 0.328084 | number }} feet</li>
    <li>
      types:
      <span *ngFor="let entry of selectedPokemon.types">
        {{ entry.type.name }}
      </span>
    </li>
  </ul>
</div>
<div *ngIf="!selectedPokemon">
  Select A Pokemon
</div>
